<app-loading-spinner></app-loading-spinner>
<section>
    <div class="container active">
        <div class="user signupBx">
            <div class="formBx">
                <form [formGroup]="registerForm">
                    <h2>Create an account</h2>

                    <input type="text" formControlName="name" placeholder="Username" 
                    [ngClass]="{'is-valid': username?.valid, 'is-invalid': username?.invalid && username?.touched}"/>

                    <input type="email" formControlName="email" placeholder="Email Address" 
                    [ngClass]="{'is-valid': email?.valid, 'is-invalid': email?.invalid && email?.touched}"/>

                    <input type="password" formControlName="password" placeholder="Create Password" 
                    [ngClass]="{'is-valid': password?.valid, 'is-invalid': password?.invalid && password?.touched}"/>

                    <input type="button" value="Sign Up" (click)="onSubmit()" 
                    [ngClass]="{'disable-button': !this.registerForm.valid}"/>

                    <p class="signup">
                        Already have an account ?
                        <a href="javascript:void(0)" (click)="navigatePage();">Login.</a>
                    </p>
                </form>
            </div>
            <div class="imgBx">
                <img src="assets/images/hotel-bg.jpg" alt />
            </div>
        </div>
    </div>
</section>