<!-- Daily Activity -->
<mat-card class="w-100">
  <mat-card-content>
    <div class="header-container">
      <!-- Left Content -->
      <div class="header-left">
        <h2>Manage Roles</h2>
      </div>

      <!-- Right Content -->
      <div class="header-right">
        <button mat-flat-button color="primary" (click)="openModal()">
          Add New
        </button>
      </div>
    </div>

    <div class="table-responsive">
      <app-table-common
        [data]="dataSource"
        [columns]="displayedColumns"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageSizeChange)="onPageSizeChange($event)"
        (currentPageChange)="onCurrentPageChange($event)"
        (sortChange)="onSortChange($event)"
      ></app-table-common>

      <!-- Define the Custom Template -->
      <ng-template #actionsCell let-element>
        <button
          mat-icon-button
          aria-label="More vert icon"
          [matMenuTriggerFor]="menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editRole(element.id)">Edit</button>
          <button mat-menu-item>Assign Permissions</button>
          <button mat-menu-item (click)="deleteRole(element.id)">Delete</button>
        </mat-menu>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
