<!-- Daily Activity -->
<mat-card class="w-100">
  <mat-card-content>
    <h2 class="mb-56">Manage Users</h2>

    <div class="table-responsive">
      <table mat-table [dataSource]="dataSourceUser" class="text-nowrap w-100">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell class="fw-medium" *matCellDef="let element">
            {{ element.id }}
          </td>
        </ng-container>

        <!-- Assigned Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.name }}</p>
          </td>
        </ng-container>

        <!-- Project Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium op-5">{{ element.email }}</p>
          </td>
        </ng-container>

        <!-- Priority Column -->
        <ng-container matColumnDef="roles">
          <th mat-header-cell *matHeaderCellDef>Roles</th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.roles }}</p>
          </td>
        </ng-container>

        <!-- Budget Column -->
        <ng-container matColumnDef="permissions">
          <th mat-header-cell *matHeaderCellDef>Permissions</th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.permissions }}</p>
          </td>
        </ng-container>

        <!-- Action -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon [matMenuTriggerFor]="menu" aria-hidden="false" aria-label="More vert icon" fontIcon="more_vert"></mat-icon>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>{{ element.id }} Edit</button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[3, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
