.custom-pagination {
  margin: 20px 0;
  text-align: center;
}

.custom-pagination table {
  width: 100%;
  margin-bottom: 20px;
}

.pagination-controls {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;

  .item-per-page {
    position: relative;
    left: 10px;
  }
}

.page-size-selector {
  position: relative;
  top: 10px;
  width: 90px;
}

.pagination-buttons button {
  padding: 8px;
}

.pagination-buttons span {
  font-weight: bold;
  position: relative;
  bottom: 6px;
}
